* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center; 
}

.App {
  width: 400px;
}

.post {
  display: flex;
  padding: 10px;
  border: 2px solid teal;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
}



